@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i|IBM+Plex+Sans:400,400i,700,700i|Inconsolata:400,700');

:root {
  --hipBlack: #2a2e2e;
  --fakeAsbestos: #525555;
  --fakeAsbestosAlpha22: #52555522;
  --fakeAsbestosAlpha88: #52555588;
  --bianchiGreen: #b3e4c8;
  --bianchiGreenAlpha88: #b3e4c888;
  --codeRed: #eb5757;
  --codeAsbestos: #f4f4f4;
}

html {
  font-size: 15px;
}

h1,
h2,
h3 {
  margin-block-start: 1.75em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--hipBlack);
}

h1 {
  box-shadow: inset 0 -0.5em 0 var(--bianchiGreen);
  padding: 0 0.5em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1em;
}

p,
li {
  margin-block-end: 0.25em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
  line-height: 1.75em;
  color: var(--hipBlack);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

a.anchor {
  display: none;
}

p a,
li a {
  border-bottom: 0.25em solid var(--bianchiGreen);
  box-shadow: inset 0 -0.25em 0 var(--bianchiGreen);
  padding-top: 0.25em;
  transition: background 0.3s ease;
}

p a:hover,
li a:hover {
  background: var(--bianchiGreen);
}

ul,
ol {
  padding-inline-start: 1.25em;
}

/* Workaround to fix broken style within nested lists */
ul > li > p {
  margin-top: 0;
}

blockquote {
  margin: 1.25em 0;
  border-left: 0.25em solid var(--bianchiGreen);
  padding-left: 1em;
}

blockquote p {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: -1px;
  color: var(--fakeAsbestos);
}

code {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-family: 'Inconsolata', monospace;
  letter-spacing: -1px;
  line-height: 1.5em;
  color: var(--fakeAsbestos);
  background: var(--codeAsbestos);
}

pre {
  border-radius: 0.5em;
  padding: 1em 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: var(--codeAsbestos);
}

pre > code {
  font-family: 'Inconsolata', monospace;
}

hr {
  margin: 2em 0em;
  opacity: 0.5;
}

/* Center embedded tweets */
.twitter-tweet {
  margin-right: auto;
  margin-left: auto;
}

.twitter-tweet > iframe {
  margin-top: 12px;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }

  a.anchor {
    display: inline;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}
