/* Global CSS definitions */

:root {
  --maxWidth-none: 'none';
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: '100%';
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: '1px';
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: 'system-ui', '-apple-system', 'BlinkMacSystemFont',
    'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --fontFamily-serif: 'Georgia', 'Times New Roman', 'Palatino';
  --fontFamily-mono: 'Menlo', 'Monaco', 'source-code-pro', 'Courier New',
    'monospace';
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  /* --fontWeight-extrabold: 800; */
  /* --fontWeight-black: 900; */
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.15;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.1rem;
  --fontSize-3: 1.2rem;
  --fontSize-4: 1.3rem;
  --fontSize-5: 1.4rem;
  --color-primary: #19e597;
  --color-accent: #d1dce5;
  --color-text: #2e353f;
  --color-text-light: #7e7e7e;
  --color-heading: #1a202c;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  background-color: #282c35;
  --color-primary: #19e597;
  --color-accent: #d1dce5;
  --color-text: #ffffffdd;
  --color-text-light: #ffffff99;
  --color-heading: #ffffff;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
  text-align: center;
}

hr {
  background: var(--color-accent);
  height: 1px;
  margin: var(--spacing-8) var(--spacing-0);
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  margin-block-start: var(--spacing-12);
  margin-block-end: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5 {
  font-weight: var(--fontWeight-semibold);
  color: var(--color-heading);
}

h1 {
  font-size: var(--fontSize-5);
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h2 {
  font-size: var(--fontSize-4);
}

h3 {
  font-size: var(--fontSize-3);
}

h4 {
  font-size: var(--fontSize-2);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  border-bottom: none;
  text-decoration: none;
}

h1 > a:hover,
h1 > a:focus,
h2 > a:hover,
h2 > a:focus,
h3 > a:hover,
h3 > a:focus,
h4 > a:hover,
h4 > a:focus,
h5 > a:hover,
h5 > a:focus {
  color: var(--color-text-light);
  text-decoration: none;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  padding: var(--spacing-0);
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
}

ul,
ol {
  padding: var(--spacing-0);
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  margin-block-end: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-block-end: calc(var(--spacing-8) / 2);
}

li > p {
  margin-block-end: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-block-end: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-block-start: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-style: italic;
  margin-block-end: var(--spacing-8);
}

blockquote > :last-child {
  margin-block-end: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-block-end: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

small {
  color: var(--color-text-light);
  border-bottom: none;
  text-decoration: none;
}

small a {
  border-bottom: none;
  text-decoration: none;
}

small a:hover,
small a:focus {
  border-bottom: none;
  text-decoration: none;
  color: var(--color-heading);
}

/* Link */

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 2px;
}

a:hover,
a:focus {
  color: var(--color-heading);
  text-decoration: none;
}

/* Markdown image */

span.gatsby-resp-image-wrapper > img.gatsby-resp-image-image {
  border-radius: var(--spacing-2);
}

/* layout.js */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
}

/* Navbar */

.global-navbar {
  display: flex;
  align-items: center;
  margin-block-end: var(--spacing-16);
}

.global-navbar-image-link {
  margin-inline-end: auto;
  border-bottom: none;
  text-decoration: none;
  overflow: hidden; /* Safari */
  transition: all 300ms ease-in-out;
}

.global-navbar-image {
  border-radius: 100%;
}

.global-navbar-link {
  margin-inline-start: var(--spacing-5);
  border-bottom: none;
  color: var(--color-text-light);
  font-weight: var(--fontWeight-semibold);
}

.global-navbar-link:hover,
.global-navbar-link:focus,
.global-navbar-link-active {
  color: var(--color-heading);
}

/* static pages */

.heading-companion {
  margin-block-end: var(--spacing-0);
  color: var(--color-text-light);
  font-weight: var(--fontWeight-semibold);
  font-size: var(--fontSize-3);
}

.heading {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8);
}

/* blog.js */

.post-list-item {
  margin-block-start: var(--spacing-6);
}

.post-list-item header {
  display: flex;
  justify-content: space-between;
}

.post-list-item header h2 {
  margin: var(--spacing-0);
  font-size: var(--fontSize-1);
}

/* post-page.js */

article .excerpt {
  border-radius: var(--spacing-2);
  padding: var(--spacing-3) var(--spacing-4);
  background-color: #e6f4ef;
  color: #43524c;
  opacity: 0.6;
}

article > .meta-container {
  text-align: center;
}

article > .meta-container .tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* also applies to tag-page.js @ dev */
article .tag-container small {
  margin-inline-end: var(--spacing-2);
}

/* Media queries */

/* Mobile */
@media (max-width: 44rem) {
  /* nest blockquote and list indentation */
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-inline-start: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }

  /* blog.js — move date below post link  */
  .post-list-item header {
    flex-direction: column-reverse;
  }
  .post-list-item header small {
    margin-block-end: var(--spacing-2);
  }
}

/* Tablet and Desktop */
@media (min-width: 44rem) {
  .global-navbar-image-link:hover,
  .global-navbar-image-link:focus {
    transform: scale(1.15, 1.15);
  }
  .global-navbar-image-link:hover[data-is-root-path='true'],
  .global-navbar-image-link:focus[data-is-root-path='true'] {
    transform: none;
  }
}

/* center embedded tweets */
.twitter-tweet {
  margin: auto;
}

/* Remove duplicate <hr> on top of the footnotes */

div > .footnotes > hr {
  display: none;
}
