.snackbar__container {
  /* Display & Box Model */
  padding: 0 1em 0.5em;

  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Color */
  background-color: #f1c40f88;
}

.snackbar__text {
  /* Display & Box Model */
  max-width: 725px;

  /* Text */
  font-size: smaller;
  text-align: center;
}

.snackbar__text a {
  /* Display & Box Model */
  border-color: var(--fakeAsbestos);
  box-shadow: var(--fakeAsbestos);
}

.snackbar__text a:hover {
  /* Color */
  color: #ffffff;
  background: var(--fakeAsbestos);
}

.snackbar__close {
  /* Display & Box Model */
  margin: 0.8em 0 0 1em;
  border: none;
  border-radius: 1.25em;
  height: 1.25em;
  width: 1.25em;

  /* Flex */
  display: flex;
  justify-content: center;
  align-content: center;

  /* Color */
  background-color: #f1c40f88;

  /* Text */
  font-size: smaller;
  text-align: center;

  /* Other */
  transition: background-color 0.3s ease;
}

.snackbar__close:hover {
  /* Color */
  background-color: var(--fakeAsbestosAlpha88);
}

.snackbar__close > span {
  margin: 1px 0px 0px 0.5px;
  font-size: xx-small;
}
