.card__container {
  /* Display & Box Model */
  box-shadow: var(--fakeAsbestosAlpha22) 0 0.125em 0.25em 0;
  border: 1px solid var(--fakeAsbestosAlpha22);
  border-radius: 0.25em;
  margin: 0.75em 0 0.25em;

  /* Flex */
  display: flex;
  align-items: center;

  /* Other */
  transition: box-shadow 0.3s ease;
}

.card__container:hover,
.card__container:active {
  /* Display & Box Model */
  box-shadow: var(--fakeAsbestosAlpha22) 0 0.5em 1em 0;
}

.card__image {
  /* Display & Box Model */
  width: 60%;
  max-width: 125px;
  margin: 0;
  padding: 0;
}

.card__content {
  /* Display & Box Model */
  padding: 1em 1.5em;

  /* Flex */
  display: flex;
  flex-direction: column;
}

.card__title {
  /* Display & Box Model */
  margin-top: 0.25em;
}

.card__excerpt {
  /* Display & Box Model */
  margin: 0.5em 0;

  /* Text */
  font-size: smaller;
}

/* Special media query to handle XS devices */
@media (max-width: 374px) {
  .card__image {
    /* Display & Box Model */
    display: none;
  }
}

@media (min-width: 576px) {
  .card__image {
    /* Display & Box Model */
    width: 25%;
    max-width: 137px;
  }
}

@media (min-width: 768px) {
  .card__image {
    /* Display & Box Model */
    max-width: 145px;
    width: 21%;
  }
}

@media (min-width: 1024px) {
  .card__image {
    /* Display & Box Model */
    max-width: 150px;
  }
}
