.nav__container {
  /* Display & Box Model */
  padding: 0.75em 0em;
}

.prev {
  /* Positioning */
  float: left;
  margin-left: 1em;
}

.next {
  /* Positioning */
  float: right;
  margin-right: 1em;
}

.arrow {
  /* Text */
  font-family: 'IBM Plex Mono', monospace;
  font-size: smaller;
  text-decoration: none;

  /* Color */
  color: var(--hipBlack);
}

.prev__link,
.next__link,
.prev__link:visited,
.next__link:visited,
.prev__link:active,
.next__link:active {
  /* Display & Box Model */
  border-bottom: 0.25em solid var(--bianchiGreen);
  box-shadow: inset 0 -0.25em 0 var(--bianchiGreen);
  padding-top: 0.25em;

  /* Text */
  font-family: 'IBM Plex Mono', monospace;
  font-size: smaller;
  letter-spacing: -1px;
  text-decoration: none;

  /* Color */
  color: var(--hipBlack);

  /* Other */
  transition: background 0.3s ease;
}

.prev__link.anchor,
.next__link.anchor {
  /* Display & Box Model */
  display: none;
}

.prev__link:hover,
.next__link:hover {
  /* Color */
  background: var(--bianchiGreen);
}

.meta {
  /* Display & Box Model */
  margin-top: 1.5em;

  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag__container {
  /* Display & Box Model */
  margin-top: 0.75em;

  /* Flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  display: none;
}
